<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 palette-silver" id="sidebar">
      <ul class="nav nav-list">
        <li class="nav-header">Sidebar</li>
      </ul>

              <div class="footer">
        <p>&copy; Nathan Hayflick</p>
        <p><a href="https://github.com/nhayflick"> GitHub</a>
          </p>
      </div>
    </div>
    <div class="span10">
       <div class="palette-night-dark container-fluid well main-space">
  <!--   <div class='span8 offset1'> -->
      <div class='row'>
        <div class="jar-content" id="content"> </div>
        <div class='span8'></div>
        <div class='row'>
          <div class='span8'><br></div>
        </div><!--/row-->
      </div><!--/row-->
  <!--   </div> --><!--/span-->
  </div><!--/container-->
    </div>
  </div>
</div><!--/row-->
</div>

<script>

 //Google Analytics Package
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40936392-2', 'herokuapp.com');
  ga('send', 'pageview');

  $(function(){

   var v = document.createElement("video");
    if (v.canPlayType("video/mp4") == '') {
      window.alert("PhotoJar doesn't support your current browser! More browser-compatibility will be added soon, but in the meantime please use Chrome or Safari.")
    };

    //jQuery plugin for correct display of posting date-time info

    jQuery("abbr.timeago").timeago();
    filepicker.setKey('AE7UBn35SviLp7DDkDDAxz');
    var $content = $("#content");
    var $navbar = $("#sidebar");
    var current_user = <%= current_user.to_json.html_safe %>;
    var current_user_jars = <%= @user_jars.to_json.html_safe %>;
    var tags = <%= Tag.all.to_json.html_safe %>;


    window.PJ.initialize(
      $content,
      $navbar,
      current_user,
      current_user_jars,
      tags
    )
  });

</script>