<div class="login-screen palette-night-dark">
<div class="row-fluid">
<div class="span1"></div>
<div class="login-icon span1">
  <a href="/#">
  <img src="http://4.bp.blogspot.com/-G_0bY_5OjvI/Tk7mIUHME-I/AAAAAAAABtU/XYod3Weku1U/s1600/Mason+Jar+Printable.png" style="width:60; height:90;" alt="Log into PhotoJar" /></a><br>
  <h4 class="log-in-text">Log into <small>PhotoJar</small></h4>

</div>


<div class="span8 login-form" style="text-align: center;">
  <form accept-charset="UTF-8" action="/session" method="post">
    <div>
      <label for="session_email">Email</label>
      <input id="session_email" name="session[email]" size="30" type="text" />
    </div>
    <div>
      <label for="session_password">Password</label>
      <input id="session_password" name="session[password]" size="30" 
             type="password" />
    </div>
    
    <input class="btn btn-large btn-primary" name="commit" type="submit" 
         value="Log in" />
         <br> <br>
         <p><%= link_to "Create a new PhotoJar account", new_user_path %></p>
  </form>
</div>

</div>
</div>
</div>