<div style='text-align: center;'>

<h2 class='palette'> Add a photo </h2>


<input name="photo[image]" class='palette' id="file" type="file" data-fp-multiple="true" /><br />

<div id="ajax-upload-output"> </div>

</div>