<div style='text-align: center;'>

<h2 class='palette'> Add a photo </h2>


<input name="photo[image]" class='palette btn btn-large btn-primary' id="file" type="file" data-fp-multiple="true" /><br />

<div id="ajax-upload-output" class='palette'> </div>

</div>