<h2> Add a photo </h2>

<form action='#'  class='new_photo' id='new_photo' method='post'>
<label for='photo_file'> Name It: </label>
<input id='photo_file' name='photo[:image]' type='file'/>
<br>
<label for='photo_caption'> Name It: </label>
<input id='photo_caption' name='photo[caption]' size='30' type='text'/>

</form>