<div style='margin: 20px;'>
<%= console.log(user.first()) %>
<% if(!user.isEmpty()) {%>
Logged in as: <b> <a href='#/users/<%=user.first().escape('id')%>'><img src="<%=user.first().escape('avatar_url')%>/convert?w=50&h=50&fit=crop" class="rounded-photo"/>
<%=user.first().escape('user_name')%></b> </a>
<%}%>

<h5 align="right"> 
<% if(!user.isEmpty()) {%>
<a href="#" id="logout"> Log Out</a></h5>
<%}else{%>
<a href="/session/new" id="login"> Log In</a></h5>
<%}%>
</div>