<div style='margin: 20px;'>
Logged in as: <b> <a href='#/users/<%=user.escape('id')%>'><img src="<%=user.escape('avatar_url')%>/convert?w=50&h=50&fit=crop" class="rounded-photo"/>
<%=user.escape('user_name')%></b> </a>

<h5 align="right"> 
<a href="/sessions#destroy"> Log out <-- </a></h5>
</div>