<h2> Create a new photo jar</h2>

<form action='#'  class='new_jar' id='new_jar' method='post'>
<label for='jar_title'> Name It: </label>
<input id='jar_title' name='jar[title]' size='30' type='text'/>
<br>

<button type='button' class='submit'> Submit It! </button>

</form>