<div  class='palette'>
<%= console.log(jar.get('user'))%>
At: <%= jar.escape('created_at')%>


<h3 style='text-align:center'> <%= jar.escape('title') %> </h3>

<ul style='list-style:none; background-color:#FFFFFF; width:440px; margin:auto; border-radius: 4px;' id="photocontent">
  <li class="tilespan0 my-well tile-small"  id="photocontent" style='overflow: hidden;'> <div class='photo-tile' data-id="0"></div></li>
  <li class="tilespan0 my-well tile-small" id="photocontent" style='overflow: hidden;'> <div class='photo-tile' data-id="1"></div></li>
  <li class="tilespan0 my-well tile-stretched" style='overflow: hidden;' id="photocontent"> <div class='photo-tile' data-id="2"></div></li>
  <div class='row'>
    <div class='span8'></div>
  </div>
</ul>
</div>