<div  class='palette see-thru' style='margin: 20px;'>
  <h3> Welcome to PhotoJar! </h3>
  PhotoJar allows you to create, customize and share a bouquet of images.<br><br><a href="/users/new">Sign up</a> for an account to get started. Or just take a look around at what other people have made.<br><br>

  - Nathan Hayflick 
</div>