// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photocontent { list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 1000px; 
}

.photocontent li { margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left;
    width: 200px; 
    height: 200px; 
    font-size: 4em; 
}