// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-content { list-style-type: none; 
    margin: 0; 
    padding: 0; 
    width: 1000px;
}

.photo-content ul {
  list-style:none;
  background-color:#FFFFFF;
  width:440px;
  margin:auto; 
}

.photo-content li { margin: 0px 0px 0px 0px; 
    padding: 0px; 
    float: left;
    width: 200px; 
    height: 200px; 
    font-size: 4em;
    border-radius: 4px; 
}

.container-fluid {
  padding: 0;
}

.row-fluid [class*="span"] {
  margin: 0;
}

.container {
  padding: 0;
}

.row [class*="span"] {
  margin: 0;
}

.row-fluid .span1 {
  width: 8.33333333333333%;
}

.row-fluid .span15 {
  width: 12.5%;
}

.row-fluid .span2 {
  width: 16.66666666666667%;
}

.row-fluid .span3 {
  width: 25%;
}

.row-fluid .span4 {
  width: 33.33333333333333%;
}

.row-fluid .span5 {
  width: 41.66666666666667%;
}

.row-fluid .span6 {
  width: 50%;
}

.row-fluid .span7 {
  width: 58.33333333333333%;
}

.row-fluid .span8 {
  width: 66.66666666666667%;
}

.row-fluid .span9 {
  width: 75%;
}

.row-fluid .span10 {
  width: 83.33333333333333%;
}

.row-fluid .span11 {
  width: 91.66666666666667%;
}

.row-fluid .span12 {
  width: 100%;
}

.my-well {
  min-height: 20px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 0px solid #e3e3e3;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00);
}

.my-well-2 {
  min-height: 10px;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 0px solid #e3e3e3;
  width: 440px;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.00);
}


.photo-tile {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 5px;
  position: relative;
  text-align: center; }
  .tile.tile-hot:before {
    background: url("../images/tile/ribbon.png") 0 0 no-repeat;
    background-size: 82px 82px;
    content: "";
    height: 82px;
    position: absolute;
    right: -4px;
    top: -4px;
    width: 82px; }
  .tile p {
    font-size: 15px;
    margin-bottom: 33px; }

  .tile-small {
    width:220;  
    border-radius: 4px;
  }

  .tile-stretched {
    width:440;
    border-radius: 4px;
  }

  [class*="tilespan"] {
  float: left;
  min-height: 1px;
  margin-left: 20px;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 940px;
}

.tilespan12 {
  width: 940px;
}

.span11 {
  width: 860px;
}

.span10 {
  width: 780px;
}

.span9 {
  width: 700px;
}

.span8 {
  width: 620px;
}

.span7 {
  width: 540px;
}

.tilespan6 {
  width: 440px;
  height: 167px;
}

.span5 {
  width: 380px;
}

.span4 {
  width: 300px;
}

.tilespan3 {
  width: 220px;
  height: 167px;
}

.span2 {
  width: 140px;
}

.span1 {
  width: 60px;
}

.rounded-photo {
  border-radius: 4px;
}