<!DOCTYPE html>
<html>
<head>
  <title>PhotoJar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="//api.filepicker.io/v1/filepicker.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

 <footer>
    <div class="container">
      <div class="row">
        <div class="span7">
          <h3 class="footer-title">text</h3>
          <p>HAFHJGASLJFGHALSKJFHLKJASHF
          </p>

        </div>

      </div>
    </div>
  </footer>
</body>
</html>